.env
/node_modules/
/markdown/
/data/
/tmp/
src/tts/tts-subtitle.html
src/song-request/models/G_4000.pth
src/song-request/songs/
src/song-request/htdemucs/
src/song-request/raw/
src/song-request/results/
mori-setup.md
notes.md